/*
 */
.hidden {
    display: none;
}

.well {
    border: solid 1px #CCC;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
}

.buttons {
    text-align: right;
}

.pagination {
    width: 100%;
}

.pagination ul {
    margin: 0 auto;
    list-style-type: none;
}

.pagination ul li {
    display: inline-block;
    margin-right: 10px;
}

.pagination ul li a {
    display: block;
    padding: 4px;
    border: solid 1px #CCC;
    text-decoration: none;
}